@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");





body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-oswald: Oswald;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-3xl: 22px;
  --font-size-25xl: 44px;
  --font-size-31xl: 50px;
  --font-size-mini: 15px;
  --font-size-15xl: 34px;
  --font-size-21xl: 40px;

  /* Colors */
  --base-white: #fff;
  --gray-600: #475467;
  --color-darkslategray-200: #404b52;
  --gray-700: #344054;
  --color-darkslategray-100: #353d4e;
  --color-darkslategray-300: #292d32;
  --color-gray-100: #929497;
  --color-gray-200: #1f2021;
  --color-gray-300: #1d1b31;
  --gray-900: #101828;
  --color-gray-400: #11111d;
  --color-mediumseagreen-300: #00b087;
  --color-mediumseagreen-100: #039855;
  --color-mediumseagreen-200: #039754;
  --color-mediumseagreen-400: rgba(3, 151, 84, 0.75);
  --color-darkseagreen: #b7eeca;
  --color-red: #ff0000;
  --color-darkgray: rgba(158, 158, 158, 0.6);
  --color-whitesmoke-100: #f1f7f8;
  --color-whitesmoke-200: #f5f5f5;
  --color-whitesmoke-300: #edf1f3;
  --color-whitesmoke-400: #eee;
  --color-dimgray-100: #6c7073;
  --color-dimgray-200: #626161;
  --color-dimgray-300: rgba(108, 112, 115, 0.8);
  --color-dimgray-400: rgba(108, 112, 115, 0.51);
  --color-black: #000;
  --color-ghostwhite: #f6f5fa;
  --color-gainsboro-100: #e3e4e8;
  --color-gainsboro: #d9d9d9;
  --color-firebrick: #ad1212;
  --color-maroon: #8f1313;
  --color-seagreen: #008767;
  --color-paleturquoise: #9de2d4;
  --color-silver-100: #b5b7c0;
  --color-blueviolet: #5932ea;
  --color-brown: #a01044;
  --color-lightsteelblue: #95b7c1;
  --color-lightsteelblue-100: #98afc7;
  --color-darkslateblue: rgba(18, 68, 126, 0.4);

  /* Gaps */
  --gap-9xs: 4px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-10xs: 3px;
  --padding-11xs: 2px;
  --padding-6xs: 7px;
  --padding-7xs: 6px;
  --padding-4xs: 9px;

  /* border radiuses */
  --br-xs: 12px;
  --br-21xl: 40px;
  --br-5xs: 8px;
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-11xl: 30px;
  --br-9xs: 4px;
  --br-3xl: 22px;
  --br-xl: 20px;

  /* Effects */
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}


